<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="global-nav">
        <div class="container">
            <ul class="nav nav-tabs wb">
                <li>
                    <a href="/Home/Index">动物识别</a>
                </li>
                <li>
                    <a href="#">植物识别</a>
                </li>
                <li>
                    <a href="#">车辆识别</a>
                </li>
                <li>
                    <a href="#">菜品识别</a>
                </li>
                <li class="dropdown pull-right">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">更多</a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#">关于</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div>
        @RenderBody()
    </div>
    <footer class="text-center">All images and contents &copy; 2017</footer>
    <script src="~/scripts/jquery-1.10.2.min.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>
    <script src="~/scripts/JavaScript.js"></script>
</body>
</html>
